// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

b{
    font-weight: bold;
}

body {
    line-height: 1;
    color: white;
    background-color: #2f2e32;
    font-family: 'Inter UI',sans-serif;
    font-size: 16px;
    font-weight: 600;

    a {
        color: #fff;
        text-decoration: none;
        background-color: transparent;
    }
    a:hover {
        color: #212121;
        text-decoration: underline;
    }

}


.wrapper {
    .window-title{
        height: 60px;
        background-color: #212121;
        box-shadow: 0 2px 4px rgba(0,0,0,.5);
        .dots{
            float: left;
            margin-right: 20px;
            position: relative;
            top: 25%;
            left: 15px;
            i:nth-child(1){
                color: #f57e7d;
            }
            i:nth-child(2){
                color: #ffc881;
            }
            i:nth-child(3){
                color: #82cf85;
            }
            i{
                margin-right: 2px;
            }
        }
        .title{
            overflow: hidden;
            text-align: center;
            font-weight: bold;
            .navbar-nav {
                display: -webkit-box;
                li {
                    a{
                        line-height: 30px;
                    }
                }
            }
        }

    }
    .window-area{
        position: relative;
        left: 15px;
        width: 100%;
        .right-tabs{
            overflow: hidden;
            border-left: 1px solid #44454f;
            border-top: 1px solid #44454f;

            .form-control {
                background-color: black;
                color: inherit;
            }
            .collapse {
                height: 87vh;
            }

            .card{
                background-color: #2f2e3200 !important;
                .card-footer {
                    position: fixed;
                    bottom: 0;
                    right: 0;
                }
            }
            .chat-area{
                ul{
                    li{
                        overflow: hidden;
                        position: relative;
                    }
                    li:first-child{
                        border-top: none;
                    }
                    .me .name {
                        float: right !important;
                    }
                }

            }
            .conversation-list{
                background: #2b2a2e;
                box-shadow: inset -2px 1px 20px 0px rgba(0, 0, 0, 0.5);
                padding: 0;
                .online{
                    color: #82cf85;
                }
                .idle{
                    color: #ffac69;
                }
                .offline{
                    color: #f57e7d;
                }
                ul {
                    height: 80vh;
                    overflow-y: auto;
                    li{
                        position: relative;
                        a{
                            padding: 15px;
                            color: #bcc3d0;
                            text-decoration: none;
                            display: block;
                            position: relative;
                            border-bottom:1px solid #3d3e46;
                            i{
                                color: #79889d;
                                font-size: 1.2em;
                            }
                            i.fa-times{
                                position: absolute;
                                top:19px;
                                right:21px;
                                font-size: 10px;
                            }
                            span{
                                display: inline-block;
                                margin-left: 3px;
                                i{
                                    color: white
                                }
                            }
                            .title {
                                width: 70%; color: white; font-size: 13px;
                            }
                            .content {
                                margin: 5px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                height: 18px;
                                width: 90%;
                                font-size: small;
                            }
                        }
                        a:hover,
                        .active a{
                            background: #445166;
                            color: #fff;
                        }
                    }
                }
            }

            ul.tabs{
                margin: 0;
                overflow: hidden;
                li{
                    float: left;
                    width: 50%;
                    text-align: center;
                    a{
                        border-left: 1px solid #cfdae1;
                        color: #ffffff;
                        display: block;
                        background: #2a7984;
                        padding: 8px 0;
                    }
                }
                li.active{
                    border-bottom: none;
                    a{
                        background: #eef2f8;
                        color: #c3ccd3;
                        i{
                            font-size: 18px
                        }
                    }
                }
                li:first-child > a{
                    border-left: none;
                }
            }
            .fa-cog{
                position: absolute;
                top: -3px;
                right: 0;
                color: #fff;
                font-size: 18px;
                background-color: #2b2a2e;
                cursor: pointer;
                padding: 9px;
            }
            .fa-cog:hover{
                color: #2b2a2e;
                background-color: #fff;
            }
        }
    }
}







